.modal-body.raw-post {
  pre {
    margin: 0 0 1em 0;
    white-space: break-spaces;
    word-break: break-word;
    color: dark-light-choose(#333, #f8f8f8);
    background: dark-light-choose(#f8f8f8, #333);
    padding: 1em;
    max-height: 70vh;
  }
}
